<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1718},{124,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,61}}</string>
                <key>sourceSize</key>
                <string>{124,61}</string>
            </dict>
            <key>about_hsharmaLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1429},{184,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>about_starlingLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1429},{184,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>bgLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,292}}</string>
                <key>sourceSize</key>
                <string>{1024,292}</string>
            </dict>
            <key>bgLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{1024,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,229}}</string>
                <key>sourceSize</key>
                <string>{1024,229}</string>
            </dict>
            <key>bgLayer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{1024,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,124}}</string>
                <key>sourceSize</key>
                <string>{1024,124}</string>
            </dict>
            <key>fly_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{153,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{153,77}</string>
            </dict>
            <key>fly_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1598},{153,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{153,77}</string>
            </dict>
            <key>fly_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1334},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1488},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1752},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1616},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1643},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1616},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1488},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1411},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1828},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1753},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1182},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1105},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1872},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1259},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>fly_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1028},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1334},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1597},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>fly_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1598},{153,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{153,75}</string>
            </dict>
            <key>gameOver_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1429},{167,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,79}}</string>
                <key>sourceSize</key>
                <string>{167,79}</string>
            </dict>
            <key>gameOver_mainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1429},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>gameOver_playAgainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1512},{165,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1937},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1689},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1689},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1689},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1689},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1907},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1907},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>obstacle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1714},{139,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,53}}</string>
                <key>sourceSize</key>
                <string>{139,53}</string>
            </dict>
            <key>obstacle1_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1826},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>obstacle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1937},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>obstacle2_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1883},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>obstacle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1626},{137,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,72}}</string>
                <key>sourceSize</key>
                <string>{137,72}</string>
            </dict>
            <key>obstacle3_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1855},{102,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,80}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>obstacle4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1409},{145,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,61}}</string>
                <key>sourceSize</key>
                <string>{145,61}</string>
            </dict>
            <key>obstacle4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1563},{143,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,61}}</string>
                <key>sourceSize</key>
                <string>{143,61}</string>
            </dict>
            <key>obstacle4_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1765},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{95,66}</string>
            </dict>
            <key>particleEat.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1615},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>particleWindForce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{286,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,4}}</string>
                <key>sourceSize</key>
                <string>{286,4}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1966},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1965},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1960},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1925},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1883},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1429},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>watchOut_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1615},{112,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>watchOut_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1771},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>watchOut_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1718},{106,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>watchOut_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1771},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>watchOut_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1615},{112,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>welcome_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1844},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>welcome_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{411,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,399}}</string>
                <key>sourceSize</key>
                <string>{411,399}</string>
            </dict>
            <key>welcome_playButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1334},{176,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,106}}</string>
                <key>sourceSize</key>
                <string>{176,106}</string>
            </dict>
            <key>welcome_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1028},{304,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,208}}</string>
                <key>sourceSize</key>
                <string>{304,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e87a3708ad89e1d5819c811ce64e771$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
